<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/pagina-principal'" class="ion-text-start"
        >Listas de clases</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Clase</ion-label>
      <ion-input [(ngModel)]="clase" required></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-label position="floating">Horario</ion-label> -->
      <ion-datetime
        required
        class="dt"
        display-format="YYYY-MM-DD"
        hourCycle="h12"
        [(ngModel)]="date"
      >
        <span slot="title">Selecciona un horario</span>
        <span slot="time-label">Tiempo</span></ion-datetime
      >
    </ion-item>

    <ion-button expand="full" (click)="agregarHorario()"
      >Agregar Horario</ion-button
    >
    <ion-button color="danger" expand="full" [routerLink]="'/pagina-principal'"
      >Volver</ion-button
    >
  </ion-list>
</ion-content>
