:host .datetime-header {
    padding-inline: 10px; /* Cambia el valor según tus necesidades */
    padding-top: 10px; /* Cambia el valor según tus necesidades */
    padding-bottom: 10px; /* Cambia el valor según tus necesidades */
    background: blue; /* Cambia el color según tus necesidades */
    color: white; /* Cambia el color según tus necesidades */
}
