<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/pagina-principal'" class="ion-text-start">Listas de clases</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/horario'" class="ion-text-end">Agregar horario</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let clase of clases">
      <ion-label>{{ clase.clase }}</ion-label>
      <ion-label text-wrap>{{ clase.date }}</ion-label>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/ajustar-horario', clase.id]">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="confirmarEliminacion(clase.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>




