<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/pagina-principal'" class="ion-text-start">Listas de clases</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/horario'" class="ion-text-end">Agregar horario</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let clase of clases">
      <ion-label>{{ clase.materia }}</ion-label>
      <ion-label>{{ clase.fecha }}</ion-label>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/ajustar-horario', clase.id ] ">Editar</ion-button>
        <ion-button (click)="eliminarClase(clase.id)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
